{%extends "header_footer.html"%}
{%load static%} 
{%block content%}
    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>About Us</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Akame About Area Start -->
    <section class="akame--about--area">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12 col-lg-6">
                    <div class="section-heading text-right mb-80 pr-5 pt-3">
                        <h2>About Our Stories</h2>
                       
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="about--us--content mb-80">
                        <p>At Amacademy, we are here to help students for easy learning . to provide them with books on there finger tips. video lectures to help them easy understanding.24 X 7 expert faculty availablity to solve student's query and doubts </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Akame About Area End -->

    
    
    <!-- Our Expert Area Start -->
    <section class="akame-our-expert-area section-padding-80-0">

        <!-- Side Thumbnail -->
       

        <div  class="container">
            <div  class="row justify-content-center">
                <div  class="col-12 col-lg-4">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2 >Our Experts</h2>
                        </div>
                    <!-- Our Certificate -->
                   
                </div>
            </div>
        </div>
        <div class="container">
        <div class="welcome-slides owl-carousel" style="height: 600px;; background-size:cover; ">
            <div class="row">

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <div class="team-member-img">
                            <img src="./static/img/bg-img/ex1.png" alt="expert 1" style="height: 300px;">
                            <!-- Social Info -->
                            <div class="team-social-info d-flex align-items-center justify-content-center">
                                <div class="social-link">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>

                                </div>
                            </div>
                        </div>
                        
                        <div class="team-member-info">
                            <h5>Narendra Kunte</h5>
                            <p>Agile</p>
                        </div>
                        
                    </div>
                </div>

                
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="600ms">
                        <div class="team-member-img">
                            <img src="./static/img/bg-img/ex2.jpg" alt="expert 2" style="height: 300px;">
                            <!-- Social Info -->
                            <div class="team-social-info d-flex align-items-center justify-content-center">
                                <div class="social-link">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="team-member-info">
                            <h5>Parag Parandkar</h5>
                            <p>Electronics & Communication</p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
                        <div class="team-member-img">
                            <img src="./static/img/bg-img/ex3.jpeg" alt="expert 3" style="height: 300px;">
                            <!-- Social Info -->
                            <div class="team-social-info d-flex align-items-center justify-content-center">
                                <div class="social-link">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>

                                </div>
                            </div>
                        </div>
                        <div class="team-member-info">
                            <h5>Gajanand Dawande</h5>
                            <p>Civil</p>
                        </div>
                    </div>
                </div>

            </div>
            
                        <div class="row">

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <div class="team-member-img">
                            <img src="./static/img/bg-img/ex1.png" alt="expert 1" style="height: 300px;">
                            <!-- Social Info -->
                            <div class="team-social-info d-flex align-items-center justify-content-center">
                                <div class="social-link">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>

                                </div>
                            </div>
                        </div>
                        
                        <div class="team-member-info">
                            <h5>Narendra Kunte</h5>
                            <p>Agile</p>
                        </div>
                        
                    </div>
                </div>

                
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="600ms">
                        <div class="team-member-img">
                            <img src="./static/img/bg-img/ex2.jpg" alt="expert 2" style="height: 300px;">
                            <!-- Social Info -->
                            <div class="team-social-info d-flex align-items-center justify-content-center">
                                <div class="social-link">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="team-member-info">
                            <h5>Parag Parandkar</h5>
                            <p>Electronics & Communication</p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
                        <div class="team-member-img">
                            <img src="./static/img/bg-img/ex3.jpeg" alt="expert 3" style="height: 300px;">
                            <!-- Social Info -->
                            <div class="team-social-info d-flex align-items-center justify-content-center">
                                <div class="social-link">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>

                                </div>
                            </div>
                        </div>
                        <div class="team-member-info">
                            <h5>Gajanand Dawande</h5>
                            <p>Civil</p>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            </div>
        </div>
        
    </section>
    <!-- Our Expert Area End -->
{% endblock %}