{%load static%}
<html lang="en">
 
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login Form </title>
         <!-- Favicon -->
        <link rel="icon" href="{% static 'img/core-img/logo.png' %}">
    
        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
    
    
        <!-- Font Icon -->
        <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    
        <!-- Main css -->
        <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    </head>
    <div class="main">
        {%block content%}

        {%endblock%}

    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  

    <!-- All JS Files -->
    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Popper -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All Plugins -->
    <script src="{% static 'js/akame.bundle.js' %}"></script>
    <!-- Active -->
    <script src="{% static 'js/default-assets/active.js' %}"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>