{%extends 'basicregister.html'%}
{%load static%}
{%block content%}
        <!-- <section class="signup"> -->
                <div class="container">
                    <div class="signup-content">
                   
                        <div class="signup-form">
                            <h2 class="form-title">Change Password</h2>
                            
                             <div id="verify_email">
                           <form action="/accounts/ChangePassword.html"  method="post"  onsubmit=" " class="register-form">
                               {%csrf_token%}
                            	 <div class="form-group">
                                    <input type="password" name="pass1" placeholder="new password" required/>
                                    <input type="password" name="pass2" placeholder="Re-Enter password" required/>
                                     <br>
                                   
                                     <div class="form-group form-button">
                                                                       
                                      <input  type="submit" class="form-submit" value="Submit"/>
                                	</div>
                                </div>
                           </form>
                            </div>
                            
                        </div>
                        <div class="signup-image">
                            <figure><img src="{% static 'img/signup-image.jpg' %}" alt="sing up image"></figure>
                            <a href="login.html" class="signup-image-link">I am already member</a>
                        </div>
                    </div>
                </div>
            <!-- </section> -->

{%endblock%}