{%extends "header_footer.html"%}
{%load static%} 
{%block content%}
	<!-- Welcome Area Start -->
	<section class="welcome-area" >
		<div class="welcome-slides owl-carousel" style="height: 600px; background-size:cover; ">
			<!-- Single Welcome Slide -->
			<div class="single-welcome-slide bg-img" style="background-image: url(./static/img/bg-img/edu1.jpg);">
				<!-- Welcome Content -->
				<div class="welcome-content h-100">
					<div class="container h-100">
						<div class="row h-100 align-items-center">
							<!-- Welcome Text -->
							<div class="col-12 col-md-9 col-lg-6">
								<div class="welcome-text">
									<h2 data-animation="fadeInUp" data-delay="200ms" style="color: #FFF;">Better Education <br></h2>
									<p data-animation="fadeInUp" data-delay="100ms"style="color: #FFF";> for a better world</p>
									
									<!-- <p data-animation="fadeInUp" data-delay="400ms">âjdsjgdsjdfhjsâ</p> -->
									<a href="./about.html" class="btn akame-btn" data-animation="fadeInUp" data-delay="700ms" style="background-color:#f7a933 ">About Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			 <!-- Single Welcome Slide -->
			<div class="single-welcome-slide bg-img" style="background-image: url(./static/img/bg-img/edu3.jpg);">
				<!-- Welcome Content -->
				<div class="welcome-content h-100">
					<div class="container h-100">
						<div class="row h-100 align-items-center">
							<!-- Welcome Text -->
							<div class="col-12 col-md-9 col-lg-6">
								<div class="welcome-text">
									<h2 data-animation="fadeInUp" data-delay="100ms" style="color: #FFF;">Books<br></h2>
									<p data-animation="fadeInUp" data-delay="100ms"style="color: #FFF";>Based on the best at your finger tips</p>
									
									<!-- <p data-animation="fadeInUp" data-delay="400ms">âjdsjgdsjdfhjsâ</p> -->
									<a href="./about.html" class="btn akame-btn" data-animation="fadeInUp" data-delay="700ms" style="background-color:#f7a933 ">About Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Welcome Slide -->
			<div class="single-welcome-slide bg-img" style="background-image: url(./static/img/bg-img/edu2.jpg);">
				<!-- Welcome Content -->
				<div class="welcome-content h-100">
					<div class="container h-100">
						<div class="row h-100 align-items-center">
							<!-- Welcome Text -->
							<div class="col-12 col-md-9 col-lg-6">
								<div class="welcome-text">
									<h2 data-animation="fadeInUp" data-delay="100ms" style="color: #FFF;">LearnPress <br> </h2>
									<p data-animation="fadeInUp" data-delay="100ms"style="color: #FFF";>Based on the best LMS Plugin</p>
									<a href="./about.html" class="btn akame-btn active" data-animation="fadeInUp" data-delay="700ms" style="text-align: center;">About Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Welcome Area End -->


	<!-- Our Service Area Start -->
	<section class="akame-service-area section-padding-80-0">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Section Heading -->
					<div class="section-heading text-center">
						<h2>Our Services</h2>
						<p>The Educational Hub.</p>
					</div>
				</div>
			</div>

			<div class="row">

				<!-- Single Service Area -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="200ms">
					<a href="https://www.youtube.com/">
						<img src="{% static 'img/core-img/s1.png' %}" alt="" style="height: 100px; width: 100px;">
						<h5>Video lecture </h5>
						<p>We provide you with video lecture for easy understanding... </p>
					   </a>
					</div>
				</div>

				<!-- Single Service Area -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="400ms">
					 <a href="index.html">
						<img src="{% static 'img/core-img/s3.png' %}" alt="" style="height: 100px;  width:100px;">
						<h5>Books</h5>
						<p>Books you can read any time any where...</p>
						</a>
					</div>
				</div>

				<!-- Single Service Area -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="600ms">
					<a href="contact.html">
						<img src="{% static 'img/core-img/s4.png' %}" alt="" style="height: 100px;  width:100px;">
						<h5>24*7 online support</h5>
						<p>We are here to solve your doubt anytime...</p>
						</a>
					</div>
				</div>

			  

			</div>
		</div>
	</section>
	<!-- Our Service Area End -->

	<!-- Why Choose Us Area Start -->
	<section class="why-choose-us-area bg-gray section-padding-80-0">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-lg-6">
					<div class="choose-us-thumbnail mt-30 mb-80">
						<div  class="bg-img" style="background-image: url(./static/img/bg-img/choose.jpg); height:425px;"></div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<!-- Section Heading -->
					<div class="section-heading">
						<h2>Why Choose Us</h2>
						<p></p>
					</div>
					<!-- Choose Us Content -->
					<div class="choose-us-content mt-30 mb-80">
						<ul>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i> We Strive For LIVE Answer.</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i> A Wide Spectrum Of Skilled And Experienced Faculty.</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i> Fast Response To Requests &amp;.</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i> We Help -Solve Your Problems.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Why Choose Us Area End -->

	<!-- Our Expert Area Start -->
	<section class="akame-our-expert-area section-padding-80-0">

		<!-- Side Thumbnail -->
 

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-4">
					<!-- Section Heading -->
					<div class="section-heading">
						<h2>Our Experts</h2>
						</div>
					<!-- Our Certificate -->
				</div>
			</div>
		</div>
		<div class="container">
		<div class="welcome-slides owl-carousel" style="height: 600px; background-size:cover; ">
			<div class="row">

				<!-- Single Team Member -->
				
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="200ms">
						<div class="team-member-img">
							<img src="./static/img/bg-img/ex1.png" alt="expert 1" style="height: 300px;">
							<!-- Social Info -->
							<div class="team-social-info d-flex align-items-center justify-content-center">
								<div class="social-link">
									<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
									<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<a href="#Narendra" onclick="document.getElementById('Narendra').style.display='block'" id="myBtn">
						<div style="cursor: pointer" class="team-member-info">
						
							<h5>Narendra Kunte </h5>
							<p>Agile</p>
							  
						</div>
						 </a>
					</div>
				</div>
			   
 
				
				<!-- Single Team Member -->
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="500ms">
						<div class="team-member-img" >
							<img src="./static/img/bg-img/ex2.jpg" alt="expert 3" style="height: 300px;">
							<!-- Social Info -->
							<div class="team-social-info d-flex align-items-center justify-content-center">
								<div class="social-link">
									<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
									<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<div style="cursor: pointer" class="team-member-info">
							<h5>Parag Parandkar</h5>
							<p>Electronics & Communication</p>
						</div>
					</div>
				</div>

				<!-- Single Team Member -->
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
						<div class="team-member-img">
							<img src="./static/img/bg-img/ex3.jpeg" alt="expert 4" style="height: 300px;">
							<!-- Social Info -->
							<div class="team-social-info d-flex align-items-center justify-content-center">
								<div class="social-link">
									<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
									<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<div style="cursor: pointer" class="team-member-info">
							<h5>Gajanand Dawande</h5>
							<p>Civil</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">

				<!-- Single Team Member -->
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="200ms">
						<div class="team-member-img">
							<img src="./static/img/bg-img/ex1.png" alt="expert 1" style="height: 300px;">
							<!-- Social Info -->
							<div class="team-social-info d-flex align-items-center justify-content-center">
								<div class="social-link">
									<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
									<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<div style="cursor: pointer" class="team-member-info">
						
							<h5>Narendra Kunte </h5>
							<p>Agile</p>
							  
						</div>
					</div>
				</div>
 
				
				<!-- Single Team Member -->
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="500ms">
						<div class="team-member-img" >
							<img src="./static/img/bg-img/ex2.jpg" alt="expert 3" style="height: 300px;">
							<!-- Social Info -->
							<div class="team-social-info d-flex align-items-center justify-content-center">
								<div class="social-link">
									<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
									<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<div style="cursor: pointer" class="team-member-info">
							<h5>Parag Parandkar</h5>
							<p>Electronics & Communication</p>
						</div>
					</div>
				</div>

				<!-- Single Team Member -->
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
						<div class="team-member-img">
							<img src="./static/img/bg-img/ex3.jpeg" alt="expert 4" style="height: 300px;">
							<!-- Social Info -->
							<div class="team-social-info d-flex align-items-center justify-content-center">
								<div class="social-link">
									<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
									<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<div style="cursor: pointer" class="team-member-info">
							<h5>Gajanand Dawande</h5>
							<p>Civil</p>
						</div>
					</div>
				</div>
			</div>
			
			
			
			</div>
		</div>
		
	</section>
	<!-- Our Expert Area End -->



<div style="" id="Narendra" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
	<span onclick="document.getElementById('Narendra').style.display='none'" class="close">&times;</span>
	<center>
	<img src="./static/img/bg-img/ex1.png" alt="expert 1" style="height: 250px; width:250px">
	</center>
	 <br>
	<p>
	Narendra has 19+ years of practical experience in the areas of software development,
	technical project management with traditional and agile methods, 
	requirements management and team management of interdisciplinary development teams.</p>
	
   <p> He has gained experience in various projects working with multiple group of stakeholders 
	spread across globe/vendors. As a project manager he introduced Scrum in a transformation 
	project and coached the development team and the participating stakeholders.</p>
	<p>As project manager 
	he collected deep experiences in the field of Digital Transformation, Application Modernization
	and Business Agility.
	</p>
  </div>

</div>

	<!-- Border -->
	<div class="container">
		<div class="border-top mt-3"></div>
	</div>
	{%endblock%}